.sx-react-calendar-wrapper {
    width: 1200px;
    max-width: 100vw;
    height: 500px;
    margin-left: 180px;
    margin-top: 50px;
    margin-bottom: 15px;
    
  }
 

  /* Example custom dark mode styles in calendar.css */

  
  